  {{#if allPosts.length}}
  <div class="col-md-12 project-list">
    <h3>Recent Posts:</h3>

    {{#each allPosts as |post|}}
    <div class="card">
      <div class="card-header">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div>
      <p>No Posts Yet</p>
  </div>
  {{/if}}